<html layout:decorate="~{global/layout}">

<div layout:fragment="content">

    <h1 class="font-bold mb-2">게시물</h1>

    <div class="mt-2">
        <div class="badge badge-outline" th:text="${article.id}"></div>
        <span th:text="${article.title}"></span>
    </div>
    <hr class="mt-1 mb-3">
    <span th:text="${article.body}"></span>

    <ul class="flex gap-5 justify-center">
        <li><a class="btn-link" th:href="|/article/modify/${article.id}|">수정</a></li>
        <li><a class="btn-link" onclick="return confirm('삭제하시겠습니까?')" th:href="|/article/delete/${article.id}|">삭제</a>
        </li>
    </ul>